body{
	margin:1em auto;
	max-width:46em;
	padding:0 .62em;
	font:15pt/1.618 sans-serif;
}
h1,h2,h3 {
	line-height:1.2;
}

h2{
	font-style: italic;
	color: #aa1515;
}

@media print{
	body{
		max-width:none
	}
}

.main-title{
	text-decoration: underline;
}
